<div class="form-wrapper">
  <div class="form-container edit-profile-container">
    <h3 class='text-center'>Welcome to Your Profile</h3>
    <div class="form edit-profile-form">
      <%= simple_form_for @user do |f| %>
      <div class="edit-profile-form">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :location %>
        <%= f.input :owner, as: :radio_buttons %>
        <%= f.input :email %>
        <%= f.file_field :avatar %>
      </div>
        <div class="centered">
          <%= f.button :submit, class: "btn-pink" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

