<nav class="navbar">
  <div class="navbar-left">
    <%= link_to image_tag('motorcycle.png'), root_path, class: "navbar-brand logo" %>
    <% if "#{controller.controller_name.to_s}.#{controller.action_name.to_s}" != "pages.home"
   %>
     <div class="search-bar">
        <%= form_tag rides_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by location"
          %>
        <% end %>
      </div>
      <p class="pl-2 mt-3" style="color: gray;">OR</p>
      <div class="filter-container">
        <%= form_tag({:controller => "rides", :action => "index"}, method: :get) do %>
          <%= select_tag "category", options_for_select(["Select category"] + Ride.pluck(:category).uniq), class: "custom-select" %>
          <%= submit_tag "Filter", class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="navbar-right">
    <% if current_user %>
      <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar-navbar">
          <%= cl_image_tag current_user.avatar %>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Dashboard", dashboard_path, class: "dropdown-item border-bottom" %>
        <%= link_to "Messages", conversations_path, class: "dropdown-item border-bottom" %>
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
      </div>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Log in", new_user_session_path  %>
      <% end %>
  </div>
</nav>

