<div class="user-dashboard">
  <div class="user-identity pb-5">
    <div class="avatar-large">
      <%= cl_image_tag @user.avatar %>
    </div>
    <div class="user-details">
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>First name:</strong> <%= @user.first_name %></p>
      <p><strong>Last name:</strong> <%= @user.last_name %></p>
      <p><strong>Location:</strong> <%= @user.location %></p>
    </div>
    <span class="divider"></span>
    <div class="user-actions">
      <%= link_to "Edit your profile", edit_user_path(@user) %>
      <% if current_user.rides == [] %>
        <%= link_to "Add a new bike", new_ride_path %>
      <% else %>
        <%= link_to "See your bikes", rental_dashboard_path %>
      <% end %>
    </div>
  </div>

  <div class="user-bookings">
    <h4 class="mb-4">Your Bookings</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="upcoming-bookings-tab" data-toggle="tab" href="#upcoming-bookings" role="tab" aria-controls="upcoming-bookings" aria-selected="true">Upcoming Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="bookings-to-review-tab" data-toggle="tab" href="#bookings-to-review" role="tab" aria-controls="profile" aria-selected="false">Bookings To Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="completed-bookings-tab" data-toggle="tab" href="#completed-bookings" role="tab" aria-controls="completed-bookings" aria-selected="false">Completed Bookings</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="upcoming-bookings" role="tabpanel" aria-labelledby="upcoming-bookings-tab">
        <%= render './bookings/upcoming-bookings', user: @user %>
      </div>
      <div class="tab-pane fade" id="bookings-to-review" role="tabpanel" aria-labelledby="bookings-to-review-tab">
         <%= render './bookings/bookings-to-review', user: @user %>
      </div>
      <div class="tab-pane fade" id="completed-bookings" role="tabpanel" aria-labelledby="completed-bookings-tab">
        <%= render './bookings/completed-bookings', user: @user %>
      </div>
    </div>
  </div>
</div>

