<div class="user-identity">
  Email: <%= @user.email %>
  First name: <%= @user.first_name %>
  Last name: <%= @user.last_name %>
  Location: <%= @user.location %>
  Owner: <%= @user.owner %>
  <%#= cl_image_tag @user.avatar %>
</div>

<h4>My Bookings</h4>
<% @user.bookings.each do |booking| %>
  <p>Start date: <%= booking.date_begin %></p>
  <p>End date: <%= booking.date_end %></p>
  <p>Ride: <%= booking.ride.name %></p>
  <p>Ride owner: <%= booking.ride.user.first_name %></p>
  <br>
<% end %>
