<div class="infowindow-card">
  <div class="ride-photo">
    <% if ride.photo.present? %>
      <%= cl_image_tag ride.photo %>
    <% end %>
  </div>

  <div class="card-body">
    <div class="card-text">
      <p class="category"><%= ride.category %> · <%= ride.location %></p>
    </div>
    <h5 class="card-title">
      <%= ride.name %></li>
    </h5>
    <div class="card-text">
      <p><%= humanized_money_with_symbol(ride.price) %> per day</p>
      <% if ride.reviews.empty? %>
        <p class="global-rating-new">No reviews yet</p>
      <% else %>
        <p class="global-rating"><%= ride.global_rating %></p>
      <% end %>
    </div>
  </div>
</div>


