<div class="card-img-block">
    <% if ride.photo %>
      <%= cl_image_tag ride.photo %>
    <% end %>
  </div>

  <div class="card-body">
    <% if  ride.user.avatar %>
      <%= cl_image_tag ride.user.avatar, class: "profile" %>
    <% else %>
      <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile"/>
    <% end %>
    <div class="card-text">
      <p class="category"><%= ride.category %> · <%= ride.location %></p>
    </div>
    <h5 class="card-title">
      <%= ride.name %>
    </h5>
    <div class="card-text">
      <p>€<%= ride.price %> per day</p>
      <% if ride.global_rating == 0 %>
        <p class="global-rating-new">New</p>
      <% else %>
        <p class="global-rating"><%= ride.global_rating %></p>
      <% end %>
    </div>
  </div>


