<div class="rides-index">
  <div class="row">
    <% @rides.each do |ride| %>
      <div class="col-sm-6 col-md-6 col-lg-4 md-padding">
        <%= link_to ride_path(ride) do %>
          <div class="card profile-card-2">
            <div class="card-img-block">
              <% if ride.photos.attached? %>
                <%= image_tag ride.photos.first %>
              <% end %>
            </div>

            <div class="card-body">
              <% if  ride.user.avatar.attached? %>
                  <%= image_tag ride.user.avatar, class: "profile" %>
              <% else %>
                <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile"/>
              <% end %>
              <div class="card-text">
                <p class="category"><%= ride.category %> · <%= ride.location %></p>
              </div>
              <h5 class="card-title">
                <%= ride.name %></li>
              </h5>
              <div class="card-text">
                <p>€<%= ride.price %> per day</p>
                <% if ride.global_rating == nil %>
                  <p style="padding-right: 10px;">No reviews yet</p>
                <% else %>
                  <p style="padding-right: 10px;"><%= ride.global_rating %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
