  <%= form_tag rides_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a ride"
    %>
  <% end %>
  <div class="main-rides-container">
    <div class="rides-index">
      <div class="row">
        <% @rides.each do |ride| %>
          <div class="col-sm-6 col-md-6 col-lg-6 lg-padding">
            <%= link_to ride_path(ride) do %>
              <div class="card profile-card-2">
                <div class="card-img-block">
                  <% if ride.photos.attached? %>
                    <%= image_tag ride.photos.first %>
                  <% end %>
                </div>

                <div class="card-body">
                  <% if  ride.user.avatar.attached? %>
                    <%= image_tag ride.user.avatar, class: "profile" %>
                  <% else %>
                    <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile"/>
                  <% end %>
                  <div class="card-text">
                    <p class="category"><%= ride.category %> · <%= ride.location %></p>
                  </div>
                  <h5 class="card-title">
                    <%= ride.name %></li>
                  </h5>
                  <div class="card-text">
                    <p>€<%= ride.price %> per day</p>
                    <% if ride.global_rating == 0 %>
                      <p class="global-rating-new">New</p>
                    <% else %>
                      <p class="global-rating"><%= ride.global_rating %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div
      id="map"
      style="
      height: calc(100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
