<div class="form-wrapper">
  <div class="form-container">
    <h3 class='text-center'>Add a new bike</h3>
    <div class="form">
      <%= simple_form_for @ride do |f| %>
        <p><%= f.input :name %></p>
        <p><%= f.input :description %></p>
        <p><%= f.input :category, collection: @categories, selected: "Scooter" %></p>
        <p><%= f.input :year, collection: 1901..Time.now.year, selected: "#{Time.now.year}" %></p>
        <p><%= f.input :location %></p>
        <p><%= f.input :price %></p>
        <p><%= f.file_field :photo %></p>
        <div class="centered">
          <%= f.button :submit, class: "btn-pink" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
