<div class="banner">
  <div class="media">
    <%= cl_image_tag @ride.photo(:rides_card), class: 'img' %>
  </div>
</div>
<div class="wrapper-column">
  <div class="main-column">
    <div class="flex-title-avatar">
      <div class="ride-title">
        <div class="category">
          <%= @ride.category %>
        </div>
        <div class="name">
          <%= @ride.name %>
        </div>
        <div class="location">
          <%= @ride.location %>
        </div>
      </div>
      <div class="avatar">
        <%= cl_image_tag @ride.user.avatar %>
        <%= @ride.user.first_name %>
      </div>
    </div>
    <div class="info">
      <p style="margin-bottom: 0px;">This bike costs <strong>€<%= @ride.price %> per day</strong>.</p>
      <p>Previous users gave it an average rating of <%= @ride.global_rating %>.</p>
    </div>
  </div>

  <div class="right-column">
  </div>
  <div class="bottom-column">
    <div class="review-ratings">
        <% if @ride.reviews == [] %>
          <p >This bike hasn't been reviewed yet.</p>
        <% else %>
          <h3 style="margin-top: -6px;">
            There are <%= @ride.reviews.count %> reviews
          </h3>
        <% end %>
      <div class="star-ratings-sprite">
        <span style="width: <%= @ride.stars_rating %>%" class="star-ratings-sprite-rating"></span>
      </div>
    </div>

    <div id="reviews">
      <% @ride.reviews.each do |review| %>
        <div class="review">
          <%= render 'reviews/show', review: review %>
        </div>
      <% end %>
    </div>

    <div class="bottom-column-actions">
      <% if @ride.has_been_booked_by_user?(current_user) %>
        <h4 class='text-center pt-3'>Time to review your bike!</h4>
        <%= render 'reviews/new', ride: @ride, review: @review %>
      <% end %>
      <div class='pt-3 text-center' id='ride-booking-dates' data-unavailable="<%= @ride.unavailable_dates.to_json %>">
        <% if current_user.id != @ride.user_id  %>
          <%= simple_form_for([@ride, @booking]) do |f| %>
            <%= f.input :date_begin, as: :string, type: :text%>
            <%= f.input :date_end, as: :string, type: :text%>
            <%= f.submit "Book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
          <% end %>
        <% end %>
      <%#= link_to "Back", rides_path, class: 'btn-bike btn-back' %>
      </div>
    </div>
  </div>
</div>
