<%= @ride.name %>
<%= @ride.category %>
<%= @ride.price %>
<%= @ride.user_id %>
<br>

<%= link_to "Add review", new_ride_review_path(@ride) %>

<% @ride.reviews.each do |review| %>
<ul>
  <li><%= review.title %></li>
  <li><%= review.message %></li>
  <li><%= review.rating %></li>
  <li><%= review.user_id %></li>
</ul>

<% end %>

<br>
<% @ride.bookings.each do |booking| %>
  <%= booking.date_begin %>
  <%= booking.date_end %>
  <%= booking.user_id %>
  <%= link_to "Show", ride_booking_path(@ride, booking) %>
<% end %>

<% if current_user && current_user.id == @ride.user_id  %>
  <%= link_to "Edit", edit_ride_path(@ride) %>
  <%= link_to "Delete", ride_path(@ride), method: :delete, data: { confirm: 'Are you sure?' }  %>
<% else %>
  <%= link_to "Book", new_ride_booking_path(@ride) %>
<% end %>

<%= link_to "Back", rides_path %>
